<div class="border border-orange-700">
  <%= form.label :title, style: "display: block" %>
  <%= form.text_field :title %>
</div>
<div class="border border-orange-700">
  <%= form.label :due_date, style: "display: block" %>
  <%= form.date_field :due_date %>
</div>
<div class="border border-orange-700">
  <%= form.label :complete, style: "display: block" %>
  <%= form.checkbox :complete %>
</div>
<div class="border border-orange-700">
  <%= form.label :recurring, style: "display: block" %>
  <%= form.checkbox :recurring %>
</div>
<div class="border border-orange-700">
  <%= form.label :label, style: "display: block" %>
  <%= form.text_field :label %>
</div>
<div class="border border-orange-700">
  <%= form.label :notes, style: "display: block" %>
  <%= form.text_area :notes %>
</div>
