<section>
  <h1 class="text-blue-700"><%= @pet.name %>'s Page</h1>
  <div class="mb-2 border border-amber-700" data-controller="presentation">
    <%= link_to pet_profile_supplies_path(@pet) do %>
      <h2>Supplies</h2>
    <% end %>

    <% @supplies.each do |pet_name, pet_supplies| %>
      <%= render partial: "supplies/supply", locals: { pet_name: pet_name, pet_supplies: pet_supplies } %>
    <% end %>
    <button data-action="click->presentation#toggleVisibility">add supply</button>

    <%= render partial: "supplies/form", locals: { pet: @pet, supply: Supply.new } %>
  </div>

  <div>
    <h2>Health</h2>
  </div>

  <div class="mb-2 border border-amber-700 flex gap-2" data-controller="presentation">
    <div>
      <%= link_to pet_profile_tasks_path(@pet) do %>
        <h2>Tasks</h2>
      <% end %>

      <% @tasks.each do |pet_name, tasks| %>
        <%= render partial: "tasks/task", locals: { pet_name: pet_name, tasks: tasks } %>
      <% end %>
    </div>

    <button data-action="click->presentation#toggleVisibility">add task</button>

    <%= render partial: "tasks/form", locals: { pet: @pet, task: Task.new } %>
  </div>
</section>
