<% if local_assigns[:pet] %>
  <h2>Add Supplies for <%= pet.name %></h2>
  <%= form_with model: [ pet, supply ],
    data: { "presentation-target": "visibility" },
    class: "" do |form| %>

      <%= render partial: "supplies/form_fields", locals: { form: form } %>

      <%= form.submit "Submit" %>
    <% end %>
<% else %>
  <%= form_with model: supply, data: { "presentation-target": "visibility" } do |form| %>

    <%= render partial: "supplies/form_fields", locals: { form: form } %>

    <%= form.submit "Submit" %>
  <% end %>
<% end %>
