<div class="border border-orange-700">
  <%= form.label :title, style: "display: block" %>
  <%= form.text_field :title %>
</div>
<div class="border border-orange-700">
  <%= form.label :category, style: "display: block" %>
  <%= form.text_field :category %>
</div>
<div class="border border-orange-700">
  <%= form.label :appt_start, style: "display: block" %>
  <%= form.datetime_field :appt_start %>
</div>
<div class="border border-orange-700">
  <%= form.label :appt_end, style: "display: block" %>
  <%= form.datetime_field :appt_end %>
</div>
<div class="border border-orange-700">
  <%= form.label :notes, style: "display: block" %>
  <%= form.text_area :notes %>
</div>
